/*Local font-faces (no need for internet access)*/
@font-face {
    font-family: "PlayfairDisplay";
    src: url("fonts/Playfair Display/PlayfairDisplay-Regular.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "TrackType";
    src: url("fonts/Track Type/Track.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Raleway";
    src: url("fonts/Raleway/Raleway-Regular.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}
/**/


/*Whole page classes*/
body{
    font-family: Raleway;
    height: 100%;
}

.background {
    background-image: url(images/main-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.two-column-padding{
    padding: 0% 8%;
}

.main-title{
    font-family: TrackType;
    font-size: 300%;
    vertical-align: middle;
    margin: 0px;
}
/**/


/*Header classes*/
.header{
    color: #2fae62 !important;
    font-size: 120%;
    background-color: white;
}
/**/


/*Actual content on the angular view classes*/
.actual-view{
    padding-bottom: 5%;
}

.secondary-title{
    font-family: TrackType;
    font-size: 150%;
}
/**/


/*Footer classes*/
.wrapper-footer {
    min-height:100%;
    position:relative;
}

.footer{
    height: 5%;
    width:100%;
    position:absolute;
    bottom:0;
    left:0;
    margin: 0px;
    background-color: #2fae62;
}
/**/


/*Curso classes*/
.background-curso{
    background-image: url(images/title-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
/**/