<div class="row" ng-controller="CursoController">
    <div class="col-md-6 col-sm-12">
        <rd-widget>
            <rd-widget-header icon="fa-tasks" title="Cadastrar">
            </rd-widget-header>
            <rd-widget-body classes="medium">
                <div class="form-group">
                    <input type="text" class="form-control margin-bottom-10" placeholder="Nome do curso"
                           ng-model="curso.nome">
                    <textarea type="text" rows="4" class="form-control margin-bottom-10" placeholder="Detalhes do curso"
                              ng-model="curso.detalhes"></textarea>
                    <button type="button" class="btn btn-success" ng-click="addCurso(curso)">Cadastrar
                    </button>
                </div>
            </rd-widget-body>
            <rd-widget-footer>
            </rd-widget-footer>
        </rd-widget>
    </div>
    <div class="col-md-6 col-sm-12">
        <rd-widget>
            <rd-widget-header icon="fa-tasks" title="Cursos cadastrados">
                <input type="text" class="form-control" placeholder="Nome do curso"
                       ng-model="pesquisaCurso.nome">
            </rd-widget-header>
            <rd-widget-body classes="medium no-padding">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Detalhes</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="cur in cursos | filter: pesquisaCurso">
                            <td>{{cur.nome}}</td>
                            <td>{{cur.detalhes}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </rd-widget-body>
            <rd-widget-footer>
                <ul class="pagination pagination-sm pull-right">
                    <li><a href="#">&laquo;</a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">&raquo;</a></li>
                </ul>
                <div class="clearfix"></div>
            </rd-widget-footer>
        </rd-widget>
    </div>
</div>