<div class="row">
    <div class="col-sm-12">
        <rd-widget>
                <h1 class="text-center">Bem vindo ao Gastromatic!</h1>
            <rd-widget>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <rd-widget>
            <rd-widget-header icon="fa-plus" title="Extras">
                <button class="btn btn-sm btn-info">Button</button>
            </rd-widget-header>
            <rd-widget-body>
                <div class="message">
                    This is a standard message which will also work the ".no-padding" class, I can also <span
                        class="error">be an error message!</span>
                </div>
                <hr/>
                <div class="message">
                    <a href="http://angular-ui.github.io/bootstrap/" target="_blank">UI Bootstrap</a> is included, so
                    you can use <a href="#" tooltip="I'm a tooltip!">tooltips</a> and all of the other native Bootstrap
                    JS components!
                </div>
            </rd-widget-body>
        </rd-widget>
    </div>
    <div class="col-lg-6">
        <rd-widget>
            <rd-widget-header icon="fa-cog fa-spin" title="Loading Directive">
                <a href="http://tobiasahlin.com/spinkit/" target="_blank">SpinKit</a>
            </rd-widget-header>
            <rd-widget-body>
                <rd-loading></rd-loading>
            </rd-widget-body>
        </rd-widget>
    </div>
</div>