<div class="expanded row">
    <div class="small-12 columns">
        <p class="text-center main-title">Aulas</p>
    </div>
    <form>
        <div class="small-12 medium-6 columns two-column-padding">
            <p class="text-center secondary-title">Cadastro</p>
            Nome <input type="text" ng-model="aula.nome"><br>
            Detalhes <textarea type="text" rows="5" ng-model="aula.detalhes"></textarea>
            <button type="button" class="success button expanded"
                    ng-click="addAula(aula)">Cadastrar
            </button>
        </div>
        <div class="small-12 medium-6 columns two-column-padding">
            <p class="text-center secondary-title">Pesquisar</p>
            Nome <input type="text" ng-model="pesquisaAula.nome"><br>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Nome</th>
                    <th>Detalhes</th>
                    <th>Etc</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="aula in aulas | filter: pesquisaAula">
                    <td>{{aula.nome}}</td>
                    <td>{{aula.detalhes}}</td>
                    <td>Icone de ETC</td>
                </tr>
                </tbody>
            </table>
        </div>
    </form>
</div>