<div class="expanded row">
    <div class="small-12 columns">
        <p class="text-center main-title">Receitas</p>
    </div>
    <form>
        <div class="small-12 medium-6 columns two-column-padding">
            <p class="text-center secondary-title">Cadastro</p>
            Nome <input type="text" ng-model="receita.nome"><br>
            Detalhes <textarea type="text" rows="5" ng-model="receita.detalhes"></textarea>
            <button type="button" class="success button expanded"
                    ng-click="addReceita(receita)">Cadastrar
            </button>
        </div>
        <div class="small-12 medium-6 columns two-column-padding">
            <p class="text-center secondary-title">Pesquisar</p>
            Nome <input type="text" ng-model="pesquisaReceita.nome"><br>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Detalhes</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="rec in receitas | filter: pesquisaReceita">
                        <td>{{rec.nome}}</td>
                        <td>{{rec.detalhes}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </form>
</div>