<div class="expanded row">
    <div class="small-12 columns"
         style="border: 5px solid black; padding: 0px; margin: 0px; background: green;">
        <h2 class="text-center">Requisições</h2>
    </div>
    <form>
        <div class="small-offset-4 small-4 columns end">
            <label>Curso
                <select ng-options="curso as curso.nome for curso in cursosDisponiveis track by curso.nome"
                        ng-model="cursoSelecionado">
                </select>
            </label>
        </div>
        <div class="small-offset-4 small-4 columns end">
            <label>Roteiro
                <select ng-options="roteiro as roteiro.nome for roteiro in cursoSelecionado.roteiros track by roteiro.nome"
                        ng-model="roteiroSelecionado" ng-change="changedRoteiro(roteiro)">
                </select>
            </label>
        </div>
        <div class="small-offset-2 small-8 columns end">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Adicionar</th>
                    <th>Aula</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="aula in roteiroSelecionado.aulas">
                    <td><input ng-model="aula.selected" ng-change="geraInsumos()" type="checkbox"/></td>
                    <td>{{aula.nome}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="small-offset-2 small-8 columns end">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Insumo</th>
                    <th>Quantidade</th>
                    <th>Medida</th>
                    <th>Observação</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="infoInsumo in insumosFiltrados">
                    <td>{{infoInsumo.insumo.nome}}</td>
                    <td><input type="text" ng-model="infoInsumo.quantidade"></td>
                    <td>{{infoInsumo.medida}}</td>
                    <td><input type="text" ng-model="infoInsumo.observacoes"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </form>
</div>