<div class="expanded row">
    <div class="small-12 columns">
        <p class="text-center main-title">Roteiros</p>
    </div>
    <form>
        <div class="small-12 medium-6 columns two-column-padding">
            <p class="text-center secondary-title">Cadastro</p>
            Nome <input type="text" ng-model="roteiro.nome"><br>
            Detalhes <textarea type="text" rows="5" ng-model="roteiro.detalhes"></textarea>
            <label>Curso
                <select ng-options="curso as curso.nome for curso in cursosDisponiveis track by curso.nome"
                        ng-model="roteiro.curso">
                </select>
            </label>
            <button type="button" class="success button expanded"
                    ng-click="addRoteiro(roteiro)">Cadastrar
            </button>
        </div>
        <div class="small-12 medium-6 columns two-column-padding">
            <p class="text-center secondary-title">Pesquisar</p>
            Nome <input type="text" ng-model="pesquisaRoteiro.nome"><br>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Nome</th>
                    <th>Detalhes</th>
                    <th>Curso</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="rot in roteiros | filter: pesquisaRoteiro">
                    <td>{{rot.nome}}</td>
                    <td>{{rot.detalhes}}</td>
                    <td>{{rot.curso.nome}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </form>
</div>