<!-- Navheader -->
<div class="expanded row">
    <ul class="dropdown menu" data-dropdown-menu>
        <li><a href="#">Gerenciar</a>
            <ul class="menu">
                <li><a href="#/curso">Cursos</a></li>
                <li><a href="#/roteiro">Roteiros</a></li>
                <li><a href="#/aula">Aulas</a></li>
                <li><a href="#/receita">Receitas</a></li>
                <li><a href="#/insumo">Insumos</a></li>
                <li><a href="#/requisicao">Requisições</a></li>
            </ul></li>
        <li><a href="#">Menu rápido</a></li>
    </ul>
</div>